{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<div class="page-section bg-dark pb-5 pt-5 text-light"> 
        <section class=" text-center ">
                <h2>Donde nos encontramos?</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d548.7946959531617!2d-55.02178952153024!3d-26.810272258075212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f8279e24ca2dc1%3A0xe8534bb54e3dbec9!2sLaboratorio%20de%20Analisis%20cl%C3%ADnicos!5e0!3m2!1sen!2sar!4v1689204072611!5m2!1sen!2sar"  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
</div>
{% endblock %}